div {
  padding-left: 50px;
  font-style: bold;
}
h1{
  padding-top: 50px;
  font-style: bold;
  font-weight: 500;
}
/*  h1,h3,p{
  font-style: bold;
  font-weight: 500;
} */

/* .example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */
