<!-- <div>
	<h1>GeeksforGeeks</h1>
	<h3>Angular Material List</h3>
    <mat-list>
      <mat-list-item> Angular </mat-list-item>
      <mat-list-item> Vue </mat-list-item>
      <mat-list-item> React </mat-list-item>
     </mat-list>
     <h3>Angular Material Navigation List</h3>
      <mat-nav-list>
      <a mat-list-item href="https://reactjs.org/" > React </a>
      <a mat-list-item href="https://angular.io/" > Angular </a>
    </mat-nav-list>
    <h3>Angular Material Selection List</h3>
    <mat-selection-list #css>
      <mat-list-option *ngFor="let type of typesOfCSS">
        {{type}}
      </mat-list-option>
    </mat-selection-list>
    <br>
    <p>
      Options selected: {{css.selectedOptions.selected.length}}
    </p>
</div>


 -->
